<ion-header>
  <ion-toolbar>
    <ion-title>Lacteos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="first"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaulHref="/" text="atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  color="dark" [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col  size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
             *ngFor="let lacteo of lacteos; let i = index">
        <ion-card color="dark">
          <ion-card-header>
            <ion-card-subtitle>
              <span> {{ i+1 }}.  </span>
              <span>{{ lacteo.title }}</span>
            </ion-card-subtitle>
            <ion-card-title>
              {{ lacteo.title }}
            </ion-card-title>
          </ion-card-header>
          <ion-img *ngIf="lacteo.image" 
            [src]="lacteo.image">
          </ion-img>
          <p>
            {{ lacteo.title }}
          </p>
          <ion-button>Agregar al carrito</ion-button>
        </ion-card>         
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
