<ion-header>
  <ion-toolbar>
    <ion-title>Información Importante</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="first"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaulHref="/" text="atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-card>
    <ion-header>
      <ion-card-title>IPM Décimo</ion-card-title>
      <ion-card-subtitle>
        <ion-list>
          <ion-item>Javier Sigifredo Cavazos Eguía</ion-item>
          <ion-item>Karen Adriana Cavazos Eguía</ion-item>
          <ion-item>Esteban Uriel Mendez Peña</ion-item>
          <ion-item>Emilio Dydier Reyes de la Cruz</ion-item>
          <ion-item>Paola Rodríguez Adame</ion-item>
          <ion-item>Sofía Salazar Andaverde</ion-item>
        </ion-list>
      </ion-card-subtitle>
    </ion-header>
  </ion-card>
<hr>
  <ion-card>
    <ion-header>
      <ion-card-title>Profesor</ion-card-title>
      <ion-card-subtitle>
        <ion-list>
          <ion-item>Sergio Yorick Álvarez Montalvo</ion-item>
        </ion-list>
      </ion-card-subtitle>
    </ion-header>
  </ion-card>

  <ion-card>
    <ion-header>
      <ion-card-title>Materia</ion-card-title>
      <ion-card-subtitle>
        <ion-list>
          <ion-item>Dispositivos Móviles II</ion-item>
        </ion-list>
      </ion-card-subtitle>
    </ion-header>
  </ion-card>

  <ion-card>
    <ion-header>
      <ion-card-title>Universidad La Salle Victoria</ion-card-title>
    </ion-header>
  </ion-card>

  <ion-card>
    <ion-header>
      <ion-card-title>¡Gracias!</ion-card-title>
    </ion-header>
  </ion-card>

</ion-content>
