<ion-header>
  <ion-toolbar>
    <ion-title>Secciones</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
    <ion-button fill="outline" size = full routerLink='/carne' id="colorL">Carne</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button fill="outline" size = full  routerLink='/pescado' id="colorL">Pescado</ion-button>
      </ion-col>
    <ion-col size="12">
      <ion-button fill="outline" size = full routerLink='/pollo' id="colorL">Pollo</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button fill="outline" size = full routerLink='/verdura' id="colorL">Verduras</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button fill="outline" size = full routerLink='/fruta' id="colorL">Frutas</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button fill="outline" size = full routerLink='/lacteo' id="colorL">Lacteos</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button fill="outline" size = full routerLink='/promocion' id="colorL">Promociones</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
