<ion-header>
  <ion-toolbar>
    <ion-title>Secciones</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="first"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaulHref="/" text="atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
    <ion-button routerLink='/carne'>Carne</ion-button>
    </ion-col>
    <ion-col size="12"></ion-col>
      <ion-button routerLink='/pescado'>Pescado</ion-button>
    <ion-col size="12">
      <ion-button routerLink='/pollo'>Pollo</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button routerLink='/verdura'>Verduras</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button routerLink='/fruta'>Frutas</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button routerLink='/lacteo'>Lacteos</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button routerLink='/suerte'>suerte</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
