<ion-header>
  <ion-toolbar>
    <ion-title>Rastreo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="first"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaulHref="/" text="atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar [value]='porcentaje' size ="full"></ion-progress-bar>
  <ion-row>
    <ion-col size="4">Aceptando</ion-col>
    <ion-col size="4">Preparando</ion-col>
    <ion-col size="4">Enviando</ion-col>
  </ion-row>
</ion-content>
