ion-progress-bar {
    height: 50px;
    border-radius: 20px;
}

ion-content {
    --background: linear-gradient(180deg, #2937B1 0%, #60E9AF 100%);
  }

ion-card {
    background: rgba(255,255,255,0.5);
}

.letra {
    color: black;
    font-size: 1.5em;
}

.letra2 {
    color: rgba(0, 0, 0, 0.839);
    font-size: 1em;
}