<ion-header>
  <ion-toolbar>
    <ion-title>Verdura</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="first"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaulHref="/" text="atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-grid fixed>
    <ion-row>
      <ion-col  size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
             *ngFor="let verdura of verduras; let i = index">
        <ion-card color="dark">
          <ion-card-header>
            <ion-card-subtitle>
              <span> {{ i+1 }}.  </span>
              <span>{{ verdura.title }}</span>
            </ion-card-subtitle>
            <ion-card-title>
              {{ verdura.title }}
            </ion-card-title>
          </ion-card-header>
          <ion-img *ngIf="verdura.image" 
            [src]="verdura.image">
          </ion-img>
          <ion-button (click)="presentAlert(i)" expand="full" size="large" fill="outline" id="colorL">Agregar al carrito</ion-button>
        </ion-card>         
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>