<ion-app>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title routerLink='/inicio' id="colorL">Inicio</ion-title>
      </ion-toolbar>
      <ion-toolbar>
        <ion-title routerLink='/usuario' id="colorL">Usuario</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>  
        <ion-toolbar>
          <ion-button routerLink='/secciones' expand="full" size="large" fill="clear"><p id="colorL">Secciones</p></ion-button>
             
          <ion-button routerLink='/promocion' expand="full" size="large" fill="clear"><p id="colorL">Promociones</p></ion-button>       
      
          <ion-button routerLink='/pago' expand="full" size="large" fill="clear"><p id="colorL">Pago</p></ion-button>
        
          <ion-button routerLink='/rastreo' expand="full" size="large" fill="clear"><p id="colorL">Rastreo</p></ion-button>
              
          <ion-button routerLink='/compras' expand="full" size="large" fill="clear"><p id="colorL">Compras</p></ion-button>        
      
          <ion-button routerLink='/carrito' expand="full" size="large" fill="clear"><p id="colorL">Carrito</p></ion-button>

          <ion-button routerLink='/settings' expand="full" size="large" fill="clear"><p id="colorL">Settings</p></ion-button>
        </ion-toolbar>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
