ion-content {
    --background: linear-gradient(180deg, #FAFAFC -10.43%, #FFFFFF 63.25%, #94D3F6 100%);
  }

#colorL {
    color:#243d4b;
}

ion-item {
    color: blue;
    --background: rgb(116, 210, 27);
}