<ion-header>
  <ion-toolbar>
    <ion-title>Carrito</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="first"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaulHref="/" text="atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let carrito of selectedItems; let o = index">
      <ion-label>
        <span>{{o+1}}</span>
        <span>{{carrito}}</span>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="borrarCarrito()">Eliminar Carrito</ion-button>
  <ion-button routerLink='/pago'>Pagar</ion-button>

</ion-content>
